*{
    margin: 0;
    padding: 0;
}
p{
    font-size: 18px;
}
h1{
    color: blue;
    background-color: aqua;
    font-size: 42px;
    font-weight: 900;
}

.bg{
    height: 400px;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1697882971838-91f99b02c27d?auto=format&fit=crop&q=80&w=3270&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #555;
    background-position: center;
    background-attachment: fixed;
}