*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

.page-content h1 p + p{
    color: #52b69a;
}

.page-content{
    height: 100vh;
    display: grid;
}

main{
    grid-area: title;
}

aside{
    grid-area: login;
}

footer{
    grid-area: footer;
}
footer{
    background-color: #52b69a;
    padding: 1.5rem;
}

@media screen and (mi-width: 1024px) {
    .page-content{
        display: grid;
        gap: 10rem 0;

        grid-template-areas:
            ". . . . ."
            ". title login login . "
            ". title login login . "
            ". title login login . "
            ". . . . ."
            "footer footer footer footer footer"
        ;
    }
    
}

